{% extends 'base_template.html' %}

{% block title %}
<title>Photo Details </title>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-6 heading">
    <h1 >Photo details</h1>
  </div>
</div>

<div class="row">
  <div class="col-7">
    <div class="card">
      <div class="card-header detail">{{ photo.title }}</div>
      <img class="card-img-top" src="{{ photo.image.url }}">
      <div class="card-body row justify-content-between">
        <div class="author-photo ">
          <span>by {{ photo.author }}</span>
        </div>
        <div data-photo-id="{{ photo.id }}">
          {% if current_user_like_photo %}
            <span class="delete-like card-link glyphicon glyphicon-heart" style="color:red">{{ photo.like_set.count }}</span>
          {% else %}
            <span class="add-like card-link glyphicon glyphicon-heart" style="color:gray">{{ photo.like_set.count }}</span>
          {% endif %}
        </div>
      </div>
    </div>

{% if user.is_authenticated %}
  <form method="POST" action="{{ photo.pk }}/comments/" enctype="multipart/form-data">{% csrf_token %}
    {% for field in form %}
    <div class="row">
      <div class="col-sm-5">{{ field }}</div>
    </div>
    {% endfor %}
    <input type="submit" value="Add comment">
  </form>
{% endif %}
</div>


<div class="col-5">
  <h2>Comments</h2>
  {% for comment in comment_list %}
  <div class="card">
    <div class="card-header">
      <span >{{ comment.user }} </span>
      <span> {{ comment.created_at }}</span>
    </div>
    <div class="card-body"> {{ comment.text }}</div>
  </div>
  {% endfor %}
</div>

{% endblock %}

{% if user.is_authenticated %}
{% block javascript %}
<script>
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      var cookies = document.cookie.split(';');
      for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  var csrftoken = getCookie('csrftoken');

  $(document).on('click', '.add-like', function (e) {
    $.ajax({
      type: 'POST',
      url: "/photos/" + $(this).parent().attr('data-photo-id') + "/create_like/",
      data: {csrfmiddlewaretoken: getCookie('csrftoken')},
      success: function (response) {
        $('.add-like').replaceWith("<span class='delete-like card-link glyphicon glyphicon-heart' style='color:red'>" + response.likes_count + "</span>");
      },
      error: function (response) {}
    })
  })

  $(document).on('click', '.delete-like', function (e) {
    $.ajax({
      type: 'POST',
      url: $(this).parent().attr('data-photo-id') + "/delete_like/",
      data: {csrfmiddlewaretoken: getCookie('csrftoken')},
      success: function (response) {
        $(".delete-like").replaceWith("<span class='add-like card-link glyphicon glyphicon-heart' style='color:gray'>" + response.likes_count + "</span>");
      },
      error: function (response) {}
    })
  })
</script>
{% endblock %}
{% endif %}
