{% extends 'base_template.html' %}
{% block title %}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-6 heading">
    <h1 >Photo Contest Gallery</h1>
  </div>
</div>
<span>
  {% if photo_list %}
  <span>Упорядочить по:</span>
  <a class='sort' href="?order=title">По имени</a>
  <a class='sort' href="?order=created_at">По дате загрузки</a>
</span>
{% endif %}


<div class ='row row-cols-4'>
{% for photo in photo_list %}
    {% include "contest/photo.html" with objects=photo %}
{% endfor %}
</div>

{% if photo_list %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&&order={{ order }}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&&order={{ order }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&&order={{ order }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&&order={{ order }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endif %}

{% endblock %}

