{% extends 'base_template.html' %}
{% block title %}
{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-6 heading">
    <h1 >Photo Contest Gallery</h1>
  </div>
</div>
<span>
  <span>Упорядочить по:</span>
  <a class='sort' href="?order={{ znak }}title">По имени</a>
  <a class='sort' href="?order=created_at">По дате загрузки</a>
  <p>{{ f_order }}</p>
  <p>{{ znak }}</p>
</span>
<div class ='row row-cols-4'>
{% for photo in photo_list %}

{% include "contest/photo.html" with objects=photo %}

{% endfor %}
</div>
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&&order={{ order }}">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}&&order={{ order }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&&order={{ order }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&&order={{ order }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}
{% block javascript %}
<script>
    function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }
        var csrftoken = getCookie('csrftoken');

    $(document).on('click', '.sort', function (e) {
      console.log($(this));
    })


</script>
{% endblock %}
